<a href="https://colab.research.google.com/github/lphuong304/CS114.L21/blob/main/COLAB_ASSIGNMENTS/COLAB_ASSIGNMENT_17_05/Solution02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align="center"><b>BÀI TẬP COLAB SỐ 03 - 17/05/2021</b></h1>
<h1 align="center"><b>PREDICT FINAL SCORE OF IT001</b></h1>

###LỚP: CS114.L21
###NHÓM:
1. Nguyễn Ngọc Lan Phương - *19520227*
2. Hoàng Anh Tú - *19522450*
3. Nguyễn Quốc Huy - *19521623*

Nguồn tham khảo:




Link data:
* Data wecode: [link](https://raw.githubusercontent.com/lphuong304/CS114.L21/main/COLAB_ASSIGNMENTS/data%20IT001/wecode.csv)
* Data score: [link](https://raw.githubusercontent.com/lphuong304/CS114.L21/main/COLAB_ASSIGNMENTS/data%20IT001/wecode.csv)

* Ý tưởng:
Lọc các cột data không cần thiết, xử lý các cột dữ liệu lại theo hướng chỉ để lại một

#1. IMPORT PACKAGE

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import  accuracy_score

**Check data**

In [ ]:
data_score = pd.read_csv('https://raw.githubusercontent.com/lphuong304/CS114.L21/main/COLAB_ASSIGNMENTS/data%20IT001/score_training.csv')
data = pd.read_csv('https://raw.githubusercontent.com/lphuong304/CS114.L21/main/COLAB_ASSIGNMENTS/data%20IT001/wecode.csv')

In [ ]:
data.head(10).T

                                 0  ...                    9
id                               4  ...                   13
assignment_id                    0  ...                    0
problem_id                       3  ...                    9
user_id                          4  ...                    4
is_final                         1  ...                    1
status                       SCORE  ...                SCORE
pre_score                    10000  ...                10000
coefficient                    100  ...                  100
file_name               solution-0  ...           solution-9
language_id                      2  ...                    2
created_at     2020-10-30 10:58:11  ...  2020-10-30 11:21:36
updated_at     2020-10-30 10:58:19  ...  2020-10-30 11:21:44

[12 rows x 10 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264606 entries, 0 to 264605
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             264606 non-null  int64
 1   assignment_id  264606 non-null  int64
 2   problem_id     264606 non-null  int64
 3   user_id        264606 non-null  int64
 4   is_final       264606 non-null  int64
 5   status         264605 non-null  object
 6   pre_score      264606 non-null  int64
 7   coefficient    264606 non-null  object
 8   file_name      264606 non-null  object
 9   language_id    264606 non-null  int64
 10  created_at     264606 non-null  object
 11  updated_at     264606 non-null  object
dtypes: int64(7), object(5)
memory usage: 24.2+ MB

1. Một user-id submit nhiều lần ở 1 bài tập mới xanh
2. Một user-id submit ít lần(<=3) ở một bài tập rồi xanh
3. Solved/tries của mỗi user

#2. PREPROCESSING DATA

##2.1 Create new data frame:

remove column: id, created_at, updated_at, file_name, language_id

In [ ]:
data = data.drop(columns=['id', 'created_at', 'updated_at', 'file_name', 'language_id'])

In [ ]:
data.head(10).T

                   0      1                  2  ...      7      8      9
assignment_id      0      0                  0  ...      0      0      0
problem_id         3      4                  5  ...      7      8      9
user_id            4      4                  4  ...      4      4      4
is_final           1      1                  0  ...      1      1      1
status         SCORE  SCORE  Compilation Error  ...  SCORE  SCORE  SCORE
pre_score      10000  10000                  0  ...  10000  10000  10000
coefficient      100    100                100  ...    100    100    100

[7 rows x 10 columns]

index = user_id

columns = ['tries'] tổng số lần submit của một user_id

In [ ]:
# Create a dataframe with index is user_id and data is number of  number of each user_id appear
tries = pd.DataFrame({'tries' : data['user_id'].value_counts()})
tries = tries.sort_index()
tries

      tries
1         2
4        54
5         6
6       130
7         5
...     ...
1860     76
1862     12
1864    187
1865     99
1868     47

[1159 rows x 1 columns]

index = user_id

lọc tìm những lần solved/user_id

In [ ]:
#@title
# Create dataframe[['user_id', 'is_final', 'pre_score']]
user_isfinal_score = data[['user_id', 'is_final', 'pre_score']]
user_isfinal_score

        user_id  is_final  pre_score
0             4         1      10000
1             4         1      10000
2             4         0          0
3             4         0          0
4             4         0          0
...         ...       ...        ...
264601     1796         0          0
264602     1796         0          0
264603     1796         1      10000
264604      255         1       6250
264605     1568         0      10000

[264606 rows x 3 columns]

In [ ]:
# Get data has 'is_final' = 1 and score = 10000 => solved problem
isfinal_submit = user_isfinal_score[user_isfinal_score['is_final'] > 0]
isfinal_submit = user_isfinal_score[user_isfinal_score['pre_score'] == 10000]
isfinal_submit = isfinal_submit.groupby('user_id').sum()
isfinal_submit

         is_final  pre_score
user_id
1               1      10000
4              37     440000
5               3      30000
6              85     890000
11              9     190000
...           ...        ...
1860           28     290000
1862            4      40000
1864           28     300000
1865           10     100000
1868           27     380000

[1139 rows x 2 columns]

In [ ]:
# Cat dataframe
new_data_frame = pd.concat([tries, isfinal_submit], axis=1)
new_data_frame

      tries  is_final  pre_score
1         2       1.0    10000.0
4        54      37.0   440000.0
5         6       3.0    30000.0
6       130      85.0   890000.0
7         5       NaN        NaN
...     ...       ...        ...
1860     76      28.0   290000.0
1862     12       4.0    40000.0
1864    187      28.0   300000.0
1865     99      10.0   100000.0
1868     47      27.0   380000.0

[1159 rows x 3 columns]

In [ ]:
new_data_frame.rename(columns={'is_final':'solved', 'pre_score':'total_score'}, inplace=True)
new_data_frame['user_id'] = new_data_frame.index
first_column = new_data_frame.pop('user_id')
new_data_frame.insert(0, 'user_id', first_column)
new_data_frame

      user_id  tries  solved  total_score
1           1      2     1.0      10000.0
4           4     54    37.0     440000.0
5           5      6     3.0      30000.0
6           6    130    85.0     890000.0
7           7      5     NaN          NaN
...       ...    ...     ...          ...
1860     1860     76    28.0     290000.0
1862     1862     12     4.0      40000.0
1864     1864    187    28.0     300000.0
1865     1865     99    10.0     100000.0
1868     1868     47    27.0     380000.0

[1159 rows x 4 columns]

In [ ]:
score_CK = data_score[['id', 'CK']]
score_CK.set_index('id', inplace=True)
new_data = pd.concat([new_data_frame, score_CK], axis=1)
new_data['user_id'] = new_data.index

                1       4      5       6   ...   36     37        40      41
user_id          1       4      5       6  ...   36     37        40      41
tries            2      54      6     130  ...  NaN    312       664     110
solved           1      37      3      85  ...  NaN     93       207      61
total_score  10000  440000  30000  890000  ...  NaN  1e+06  2.27e+06  640000
CK             NaN     NaN    NaN     NaN  ...    7    7.5         8       8

[5 rows x 22 columns]

In [ ]:
new_data

      user_id  tries  solved  total_score   CK
1           1    2.0     1.0      10000.0  NaN
4           4   54.0    37.0     440000.0  NaN
5           5    6.0     3.0      30000.0  NaN
6           6  130.0    85.0     890000.0  NaN
7           7    5.0     NaN          NaN  NaN
...       ...    ...     ...          ...  ...
1862     1862   12.0     4.0      40000.0  7.5
1864     1864  187.0    28.0     300000.0  NaN
1865     1865   99.0    10.0     100000.0  7.5
1866     1866    NaN     NaN          NaN    5
1868     1868   47.0    27.0     380000.0  NaN

[1281 rows x 5 columns]

In [ ]:
#find NaN values and replace it with 0
def count_missing_values(data):
  num_of_miss_data = data.isnull().sum()
  missing_data = pd.concat([num_of_miss_data], axis=1, keys = ['Number of missing value'])
  return missing_data
count_missing_values(new_data)

             Number of missing value
user_id                            0
tries                            122
solved                           142
total_score                      142
CK                               307

In [ ]:
new_data['tries'] = new_data['tries'].interpolate(method = 'pad', limit = 3)
new_data['tries'] = new_data['tries'].fillna(int(np.mean(new_data['tries'])))

new_data['solved'] = new_data['solved'].interpolate(method = 'pad', limit = 3)
new_data['solved'] = new_data['solved'].fillna(int(np.mean(new_data['solved'])))

new_data['total_score'] = new_data['total_score'].interpolate(method = 'pad', limit = 3)
new_data['total_score'] = new_data['total_score'].fillna(int(np.mean(new_data['total_score'])))

new_data['CK'] = new_data['CK'].interpolate(method = 'pad', limit = 3)
new_data['CK'] = pd.to_numeric(new_data['CK'], errors='coerce')
new_data['CK'] = new_data['CK'].fillna(int(np.mean(new_data['CK'])))

In [ ]:
#find NaN values and replace it with 0
def count_missing_values(data):
  num_of_miss_data = data.isnull().sum()
  missing_data = pd.concat([num_of_miss_data], axis=1, keys = ['Number of missing value'])
  return missing_data
count_missing_values(new_data)

             Number of missing value
user_id                            0
tries                              0
solved                             0
total_score                        0
CK                                 0

In [ ]:
new_data.head(30).T

                  1         4        5   ...        48         49        51
user_id          1.0       4.0      5.0  ...      48.0       49.0      51.0
tries            2.0      54.0      6.0  ...      26.0      313.0      86.0
solved           1.0      37.0      3.0  ...      19.0       97.0      38.0
total_score  10000.0  440000.0  30000.0  ...  190000.0  1010000.0  400000.0
CK               6.0       6.0      6.0  ...       3.0        5.5       5.5

[5 rows x 30 columns]

Spliting model

In [ ]:
X = new_data.iloc[:,new_data.columns!='CK']
y = new_data.iloc[:,-1]
y_test
predicted

array([6.40802194, 6.00088791, 5.57552433, 7.63789509, 5.87417839,
       5.68855251, 6.09022949, 6.22167587, 6.21515336, 6.06038386,
       5.98332129, 5.48656574, 6.9378983 , 6.34773661, 6.07458509,
       5.86594107, 6.8883672 , 6.47679919, 6.3497647 , 6.08803529,
       7.48706083, 6.8111453 , 6.26342831, 5.9367028 , 4.97883909,
       6.5828013 , 6.04717054, 5.69859047, 7.82146757, 6.23692912,
       6.45506377, 5.74488174, 5.98682362, 6.18716601, 6.94825528,
       6.15504272, 6.42806429, 6.60859075, 6.11691929, 5.63654837,
       5.56477887, 6.44138538, 6.47025906, 5.79327203, 7.54272931,
       5.96483649, 6.38325571, 6.81036403, 5.74706432, 6.23686779,
       5.95753889, 5.91950084, 6.31186639, 6.04229137, 6.00126138,
       7.02810536, 5.87404835, 5.73520826, 6.26634182, 5.94399486,
       6.01090425, 5.09477201, 6.08410948, 5.90831562, 6.1687451 ,
       5.66906639, 5.90869491, 6.27464249, 6.05846924, 5.97293693,
       6.04678143, 5.87529562, 6.11253572, 5.93870595, 6.3171969 ,
       6.41035347, 6.69660623, 6.19428922, 7.30107754, 5.59122605,
       6.31960956, 6.08641152, 6.18453307, 6.77924552, 6.14396121,
       5.95877319, 5.94979578, 5.98901333, 5.88992851, 5.6436021 ,
       5.93845481, 5.6306536 , 6.03993063, 5.65455715, 5.22452568,
       6.03771672, 7.308483  , 6.22595913, 6.06769263, 6.0360042 ,
       6.66682787, 6.04928675, 6.69942334, 6.13311511, 5.54071242,
       5.8860748 , 7.11654616, 5.52105318, 7.26123565, 7.52670757,
       8.50758541, 6.72695803, 5.64456054, 6.6757606 , 7.82440924,
       6.11852889, 5.37640118, 6.47887173, 4.94427299, 5.85458741,
       7.52132549, 6.74581839, 6.78543072, 7.01200964, 5.77713804,
       5.79301099, 6.73675606, 6.52291524, 6.06176771, 5.64092862,
       7.25881354, 6.8287936 , 6.33115612, 5.62515773, 7.1060381 ,
       5.88889215, 6.59249141, 7.1500806 , 6.83923472, 7.1200872 ,
       6.27554323, 5.84064119, 6.45316868, 6.17270543, 5.95726404,
       5.36149825, 5.7648007 , 6.6357079 , 5.65448688, 6.51647348,
       7.03332698, 6.3251237 , 6.02648742, 5.66365047, 5.63278475,
       5.77628714, 5.9758296 , 6.1857316 , 6.05109382, 6.14154675,
       6.33759955, 5.2681053 , 5.9873483 , 6.06695528, 5.81775967,
       5.91893367, 5.33697858, 5.84967206, 5.71050052, 6.29871857,
       6.26115543, 6.16403398, 6.87254328, 6.18281025, 6.59366786,
       6.29170679, 5.78734954, 5.53997147, 5.84517136, 6.07338454,
       6.01898554, 5.86015016, 6.299553  , 5.9840739 , 6.40245574,
       5.93235889, 6.05199384, 6.34778404, 5.91251439, 5.46514926,
       6.18205578, 7.03775107, 7.42305045, 6.1775314 , 7.11510069,
       6.03791397, 5.77721667, 6.27005401, 6.42596504, 6.12274166,
       5.86808065, 5.8316967 , 5.66899899, 5.87391606, 6.42410336,
       7.14929359, 5.77661145, 6.32586148, 6.15559729, 6.21375187,
       5.8494565 , 5.71076286, 5.67118428, 5.47572933, 6.23293294,
       6.22958231, 6.02433752, 6.21117418, 6.00147443, 5.86255573,
       5.98470438, 5.92671653, 5.68099942, 5.56516168, 5.52221645,
       5.89735945, 6.334924  , 6.0233342 , 5.71377255, 5.91425794,
       6.03432278, 6.24184932, 6.00952833, 6.14731962, 6.19157706,
       5.66410332, 5.75130687, 6.04328373, 7.91283639, 6.00960064,
       5.92998967, 6.99328758, 6.34085638, 7.44333481, 6.03470221,
       5.36669686, 5.95593367, 5.7572764 , 7.02579159, 6.31745923,
       6.95833836, 5.91923851, 6.11210127, 6.07825536, 6.80920166,
       5.73920372, 6.95495796, 5.51998042, 6.23746054, 5.91923262,
       5.65502347, 6.21388419, 6.29971703, 5.84919417, 6.06157617,
       6.05319134, 6.49581374, 5.60012078, 5.83115325, 6.97864688,
       5.99147228, 5.62542007, 5.24905795, 6.03709458, 7.13493371,
       6.03243931, 6.75930282, 6.42510967, 5.92284504, 6.62300784,
       5.90459638, 6.77583565, 6.04853511, 7.16588921, 7.12875648,
       6.96666039, 6.65238775, 5.91304549, 5.65052425, 5.92996324,
       6.55872947, 5.98846408, 6.58215937, 6.24406205, 5.22829766,
       6.74842477, 7.0575318 , 5.86229729, 6.01434308, 5.77767369,
       6.07200556, 6.70748303, 6.82779434, 6.21925244, 5.9570017 ,
       5.00207267, 6.19701693, 6.09546293, 5.78128739, 5.96913173,
       5.70718933, 6.44101302, 5.73435212, 5.99722273, 6.08531387,
       6.46604561, 6.07009737, 6.95340995, 5.78986505, 6.88620911,
       5.65369838, 6.0250728 , 5.8610727 , 6.96207854, 5.39299311,
       6.56848019, 6.07001662, 6.0784794 , 6.3944393 , 6.3012245 ,
       5.38304832, 5.94146937, 5.67926297, 6.44333249, 6.04570844,
       6.38351805, 6.70222364, 6.85576821, 6.36028778, 5.7883269 ,
       5.49272104, 6.02093908, 6.05857862, 6.03039494, 6.66358573,
       6.38553332, 5.97585085, 6.3456585 , 6.41529177, 5.81709181,
       6.30558202, 6.13215761, 6.56720593, 5.63363419, 7.70607474,
       6.37785469, 5.86634837, 5.93497145, 5.57976787, 5.7754285 ,
       5.79978949, 5.44992404, 6.38598125, 7.17309952, 7.16771722,
       6.19004588, 7.30794666, 6.96778912, 5.9848296 , 6.93327442,
       6.03759181, 5.95789834, 6.17301608, 5.97533483, 6.50938695,
       5.9629532 , 6.18505774, 5.89245037, 6.0674192 , 5.96412147,
       6.14140052, 5.20622664, 6.32766679, 6.28541682, 5.54449224])

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
lr_model = LinearRegression().fit(x_train, y_train)
predicted = lr_model.predict(x_test)
# #print(lr_model.score(x_test, y_test))
# acc = accuracy_score(y_test, predicted)